a:link {
	color: #FF6634;
	text-decoration: none;
}

a:visited {
	color: #FF6634;
	text-decoration: none;
}

a:hover {
	color: #FF9D77;
	text-decoration: underline;
}

a:active {
	color: #B32B00;
	text-decoration: underline;
}

.sentiment {
	margin-left: 10px;
	font-weight: bold;
}
.sentiment:contains("Positive") { color: green; }
.sentiment:contains("Negative") { color: red; }
.sentiment:contains("Neutral")  { color: gray; }
